// Default blue color scheme for the AO3 skin.

:root {
    --text-current: hsl(355, 75%, 63%);
    --current-color: #ec8599;
    --current-color-dim: #f5c9d2;
    --border: hsl(353, 78%, 82%);
    --background-current: rgb(255, 229, 235);
    --background-current-dim: rgb(255, 245, 246);
    --background-gray-1: rgb(248, 248, 248);
    --background-primary: white;
    --text-gray: #aeaeae;
    --text-gray-2: #8b8b8b;
    --text-dark: #666;

    --font-sans: Inter, Helvetica, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono:
        Consolas, SFMono-Regular, Menlo, Monaco, "Liberation Mono",
        "Courier New", ui-monospace, monospace;
    --tag-font-size: 0.875rem;

    --user-line-height: 1.5;
    --user-font-family: var(--font-serif);
}
