// Default blue color scheme for the AO3 skin.

:root {
    --current-color: rgb(18, 52, 255);
    --current-color-dim: rgb(191, 201, 255);
    --background-primary: white;
    --background-current: rgb(229, 233, 255);
    --background-current-dim: rgb(241, 243, 255);
    --background-gray-1: rgb(248, 248, 248);
    --text-gray: #aeaeae;
    --text-gray-2: #8b8b8b;
    --text-dark: #666;
    --text-current-dim: rgb(79, 106, 255);
    --border: rgb(156, 172, 255);
    --font-sans: Inter, Helvetica, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono:
        Consolas, SFMono-Regular, Menlo, Monaco, "Liberation Mono",
        "Courier New", ui-monospace, monospace;
    --tag-font-size: 0.875rem;

    --user-line-height: 1.5;
    --user-font-family: var(--font-serif);
}
